DB_CONN_STRING=Host=postgres;Port=5432;Database=<Change-This>;Username=<Change-This>;Password=<Change-This>

POSTGRES_DB=<Change-This>
POSTGRES_USER=<Change-This>
POSTGRES_PASSWORD=<Change-This>

RABBITMQ_AMQP_URI=amqp://guest:guest@rabbitmq:5672/

OTEL_EXPORTER_OTLP_ENDPOINT=http://seq:5341/ingest/otlp

JWT_ISSUER=SupportDesk
JWT_AUDIENCE=SupportDeskWebApi
JWT_KEY=<Change-This>
JWT_EXPIRATION_MINUTES=15
JWT_CUSTOMER_REFRESH_TOKEN_EXPIRATION_DAYS=180
JWT_ORGANIZATION_REFRESH_TOKEN_EXPIRATION_DAYS=5