DB_CONN_STRING=Host=localhost;Port=5432;Database=SupportDeskDatabase;Username=SupportDeskUser;Password=SupportDeskPassword

POSTGRES_DB=SupportDeskDatabase
POSTGRES_USER=SupportDeskUser
POSTGRES_PASSWORD=SupportDeskPassword

RABBITMQ_AMQP_URI=amqp://guest:guest@localhost:5672/

JWT_ISSUER=SupportDesk
JWT_AUDIENCE=SupportDeskWebApi
JWT_KEY=16adb636-d6ff-4b64-b093-c78a75a68771
JWT_EXPIRATION_MINUTES=15
JWT_CUSTOMER_REFRESH_TOKEN_EXPIRATION_DAYS=180
JWT_ORGANIZATION_REFRESH_TOKEN_EXPIRATION_DAYS=5