POSTGRES_DB=database
POSTGRES_USER=username
POSTGRES_PASSWORD=password

JWT_ISSUER=SWE
JWT_AUDIENCE=SWEWebApi
JWT_KEY=16adb636-d6ff-4b64-b093-c78a75a68771
JWT_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=90